@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Montserrat&family=Poppins&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to bottom,
    #1d3557,
    #244164,
    #2b4e71,
    #325b7f,
    #3a698c,
    #437797,
    #4e85a2,
    #5993ad,
    #6aa5b9,
    #7db7c4,
    #92c8d0,
    #a8dadc
  );
}
ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 25px;
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
  margin: 0.8em;
}

li::before,
li::after {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: gainsboro;
  border-radius: 100%;
  transition: 0.55s cubic-bezier(0.5, -0.5, 0.25, 1.5);
  top: calc(50% - 0.6em / 2);
}

li::before {
  left: 0;
  z-index: -1;
}
li::after {
  right: 0;
  z-index: -2;
}

li:hover {
  color: white;
}

li:hover::before,
li:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #694562;
}

li:hover::before {
  top: 0;
}

li:hover::after {
  right: -0.4em;
  filter: brightness(0.8);
}
header,
.intro-section {
  color: #fff;
}
header div {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.15rem;
  font-style: italic;
  font-weight: 100;
  font-size: 3rem;
}
header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  font-weight: bold;
}
header nav li {
  list-style: none;
  margin: 0.5rem 1.6rem;
}
header nav {
  display: flex;
}
header nav a {
  text-decoration: none;
  color: #fff;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

main .intro-section {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem 7rem;
}
.right-picture img {
  height: 400px;
  filter: drop-shadow(32px 16px 46px rgb(238, 244, 237, 0.3));
}
.intro-section .left-detail {
  width: 400px;
  line-height: 2rem;
  font-size: 2rem;
}
.left-detail h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin: 2rem 0;
  line-height: 4.4rem;
  text-shadow: 3px 3px 18px rgba(238, 244, 237, 0.7);
}
p {
  font-family: "Montserrat", sans-serif;
  color: #eef4ed;
  font-size: 1.26rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

/* //////ABOUT ME //// */

.about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 6rem;
  background-size: cover;
}
.about-me h2 {
  font-family: "Bayon", sans-serif;
  font-size: 2.4rem;
}
.about-me img {
  height: 370px;
  margin-top: 5rem;
}
.about-me .info {
  width: 450px;
  padding-top: 10rem;
  margin-top: -3.4rem;
}
.about-me .info h2 {
  margin: 1.6rem 0;
  line-height: 2.2rem;
  color: #0b2545;
  font-family: "Poppins", sans-serif;
}
.about-me p {
  color: #e6f4f1;
  font-size: 1.25rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

/*///////// SERVICES//////////// */
#services .service-grid {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 5rem;
}
#services .box {
  width: 270px;
  height: 750px;
  border-radius: 20px;
  padding: 4rem 4rem;
  text-align: center;
  color: black;
  background-color: #eef4ed;
  background-image: linear-gradient(
    to top,
    #074e5a,
    #005266,
    #005673,
    #00597f,
    #005b8b
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
#services .box:hover {
  background-image: linear-gradient(
    to top,
    #005b8b,
    #00597f,
    #005673,
    #005266,
    #074e5a
  );
  border-radius: 16px;
  height: 755px;
  width: 280px;
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#services .box p {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
#services .box a {
  margin-top: 1.3rem;
  text-decoration: none;
  font-size: 1.24rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #0b2545;
}
.box img {
  height: 110px;
  margin: 40px 0;
  border-radius: 48px;
}
/* /////FOOTER/////// */
footer {
  font-family: "Poppins", sans-serif;
  padding: 6rem 10rem 1rem;
  text-align: center;
}
section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.socials-div img {
  height: 65px;
  margin: 0 2rem;
}
.socials-div img:hover {
  height: 68px;
  filter: invert(20%);
  filter: drop-shadow(5px 5px 65px #000);
  transition: 0.3s;
}
.social {
  text-align: center;
  /* width: 50%; */
}
.socials-div {
  display: flex;
  margin-top: 2rem;
}
.mail {
  width: 50%;
  text-align: center;
}
footer h2 {
  margin: 5rem 1rem;
  font-size: 1.6rem;
}
.form- {
  margin-bottom: 3rem;
}
.form- label {
  font-size: 1.2rem;
}
footer input {
  width: 350px;
  height: 38px;
  border-radius: 20px;
  border: 1px;
  text-align: center;
  margin-top: 1rem;
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: 1.2rem;
}
.form- button {
  padding: 0.5rem;
  border-radius: 30px;
  border: none;
}

.form- button {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.form- button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
